
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
background-color: bisque;
border-color: bisque;
}
div{
margin: 0px;
}
#status, #object_count, #start_model
{
font-size: 18px;
}
body{
    background-position: center;
    background-size: cover;
}
canvas{
    box-shadow: 10px 10px 10px #757575;
    border-radius: 10px;
    margin-top: 30px;
}
